<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Headline</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css ">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
        </style> 
        <link rel='stylesheet' type='text/css' media='screen' href='../../static/survey.css'>
    </head>  
    <body>
        <section id="headlinebody">
            <div class="container">
        <div id ='headlineRow' class="row">
            {%for i in p.object_list%}
            <div  class="col col-6 d-flex justify-content-center">
            <br>
            <div class="col-content">
                <br>
            <img  src="{{i.img.url}}"/>
            <br>
            <p name='headline', id='{{i.id}}'>{{i.description}}</p>
            <a data-id='{{i.id}}' class='thumbs' href="#" data-page="{{p.number}}" id='tu{{i.id}}' data-vote="upvote" name="vote"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>

            
           <a data-id='{{i.id}}' class='thumbs' href="#" data-page="{{p.number}}" id="td{{i.id}}" data-vote="downvote" name="vote"> <i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
       </div>
        </div>
            {%endfor%}

        </div>

    </div>
    <div id="taskuncomplete" class="hidden alert alert-danger">
Rate all experiment before proceeding
    </div>
    <br>
    <div class='votebtn'>
            {% if p.has_previous%}
            <button class="btn vote" id='previous' data-previous="{%url 'updateHeadline' p.previous_page_number%}">Previous</button>
            {%endif%}
            {%if p.has_next%}
        
            <button class="btn btn-primary vote nextheadlines" data-href="{%url 'updateHeadline' p.next_page_number%}">Next</button>
            <!-- {%url 'updateHeadline' p.next_page_number%} -->
            {%else%}
            <button class="btn btn-primary" style="width: 120px; height: 35px;" id="info">Next Task</button>
            {%endif%}
        </div>
            </section>
            <script src="../../../static/info.js"></script>
            <script type="text/javascript"> 
    try{
        const previous =document.getElementById('previous')
         previous.addEventListener('click',()=>{
    window.location=previous.dataset.previous})

}
catch{
   (e)=>{console.log(e)}
}
  

 

            const infoHeadline=[]
            const headline = document.getElementsByName('headline')
            for(i of headline){
                infoHeadline.push(i.id)
            }

            for (i of document.getElementsByClassName('nextheadlines')){
            const url=i.dataset.href
            console.log(url)
            i.addEventListener('click',(e)=>{
            // e.preventDefault()
            
              fetch(`/validatetask/${JSON.stringify(infoHeadline)}`).then(
                response=>response.json()).then(data=>{
                    console.log(data)
                    
                if(data==='false'){
                     document.getElementById('taskuncomplete').classList.remove('hidden')
                     
                }
                else{
            console.log(i.dataset.url)
            document.getElementById('taskuncomplete').classList.add('hidden')
            window.location=url}



            })
            })
            }
            window.onload=()=>{
                    fetch(`/vc/${JSON.stringify(infoHeadline)}`).then(response=>response.json()).then(
                        data=>{
                            data=Object.entries(data)
                            if (data.length===0){
                                const links=document.getElementsByTagName('a')
                                for (i of links){
                                    i.classList=''}
                            }
                            else if(data.length===1){
                                id1=data[0][0]
                                vote1=data[0][1]
                                if(vote1==='Upvote'){
                                document.getElementById(`tu${id1}`).classList.add('purple')
                            }
                            else{
                                document.getElementById(`td${id1}`).classList.add('purple')
                            }
                            }
                            else{

                                id1=data[0][0]
                                id2=data[1][0]
                                vote1=data[0][1]
                                vote2=data[1][1]
                                if (vote1==='Upvote'){
                                    document.getElementById(`tu${id1}`).classList.add('purple')
                                    document.getElementById(`td${id2}`).classList.add('purple')
                                }
                                else{
                                document.getElementById(`td${id1}`).classList.add('purple')
                                document.getElementById(`tu${id2}`).classList.add('purple')
                            }
                           
                            }
                        })
                 }
               const vote= document.getElementsByName('vote')
               for( i of vote){
                const id=i.dataset.id
                const page=i.dataset.page
                const value=i.dataset.vote


               i.addEventListener('click',(e)=>{

                e.preventDefault()     
        fetch(`/vote/${id}/${value}`,{
        method:'POST',
        headers:{'Content-Type':'application/json',},
        body:JSON.stringify({infoHeadline})
}).then(response=>response.json()).then(
                        data=>{
                            console.log(data)
                            if (data=='pending'){
                                const links=document.getElementsByTagName('a')
                                for (i of links){
                                    i.classList.remove('purple')
                                }
                            }
                        else{
                            if (infoHeadline.length===1){
    if (value==='upvote'){
        document.getElementById(`tu${id}`).classList.add('purple')
        document.getElementById(`td${id}`).classList.remove('purple')
    }
    else{
        document.getElementById(`td${id}`).classList.add('purple')
        document.getElementById(`tu${id}`).classList.remove('purple')
    }
}
else{
                      
                const index=infoHeadline.indexOf(id) 
                console.log(infoHeadline)           
                if (value==='upvote'){
                            document.getElementById(`tu${id}`).classList.add('purple')
                            document.getElementById(`td${id}`).classList.remove('purple')
                            
                            if(index==0){
                            document.getElementById(`tu${infoHeadline[1]}`).classList.remove('purple')
                            document.getElementById(`td${infoHeadline[1]}`).classList.add('purple')}
                            else{
                            document.getElementById(`tu${infoHeadline[0]}`).classList.remove('purple')
                            document.getElementById(`td${infoHeadline[0]}`).classList.add('purple')}
                            }
                        
                    else{
                        document.getElementById(`td${id}`).classList.add('purple')
                        document.getElementById(`tu${id}`).classList.remove('purple')
                         if(index==0){
                            document.getElementById(`tu${infoHeadline[1]}`).classList.add('purple')
                            document.getElementById(`td${infoHeadline[1]}`).classList.remove('purple')}
                            else{
                            document.getElementById(`tu${infoHeadline[0]}`).classList.add('purple')
                            document.getElementById(`td${infoHeadline[0]}`).classList.remove('purple')}
                            }
                        }
                    }})

                        })
              
                    }


    
               const info= document.getElementById("info")
               if(info){
                   info.addEventListener('click',()=>{
                       fetch(`/validatetask/${JSON.stringify(infoHeadline)}`).then(response=>response.json()).then(
                        data=>{ 
                            if (data==='true'){
                            window.location.href='{%url "info"%}'
                        }
                        else{
                            document.getElementById('taskuncomplete').classList.remove('hidden')
                        }
              
                    })
    
 })}
                </script>
    </body>  
</html>